@import './aspects.css';
@import './build.css';
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-family: inherit;
}

header {
    width: 100%;
    background-image: url('https://wallpapercave.com/wp/wp3974049.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 70vh;
    text-align: center;
    position: relative;
}

.header__text {
    font-family: fantasy;
    color: beige;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 45px;
    letter-spacing: 2px;
    text-shadow: darkgoldenrod 2px 5px 1px;
}

header p {
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: darkgoldenrod 1px 2px 1px;
}

main {
    text-align: center;
    background-color: #232121;
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Sansita', sans-serif;
}

.button--aspects, select {
    color: #f8f8f8;
    background: rgb(0,0,0);
    background: linear-gradient(125deg, rgba(0,0,0,1) 0%, rgba(24,24,22,1) 50%, rgba(24,24,22,1) 100%);
}

select {
    outline: none;
    border: 1px black solid;
    height: 60px;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 60px;
    outline: none;
    border: none;
    cursor: pointer;
}

option {
    background-color: rgb(24, 24, 22);
}

